@font-face {
  font-family: 'Black Ops One', sans-serif;
  src: url(./assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}
@font-face {
  font-family: 'AudioWide', sans-serif;
  src: url(./assets/fonts/Audiowide/Audiowide-Regular.ttf);
}
@font-face {
  font-family: 'Caprasimo', sans-serif;
  src: url(./assets/fonts/Caprasimo/Caprasimo-Regular.ttf);
}
@font-face {
  font-family: 'Cutive Mono', monospace;
  src: url(./assets/fonts/Cutive_Mono/CutiveMono-Regular.ttf);
}
@font-face {
  font-family: 'MyriamadPro Italic', sans-serif;
  src: url(./assets/fonts/Myriad_Pro/MYRIADPRO-ITALIC.ttf);
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #444343;
}

* {
  max-width: 100%;
}

/*----------Navbar----------*/
.navbar {
  .container-fluid{
    background-color: #444343;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 375px){
      width: 100vw;
      padding: 0 10px;
    }
    .navbar-collapse{
      position: absolute;
      right: 0;
      padding: 0 30px;
      .nav-link{
        color: #fff;
      }
      @media (max-width: 375px){
        position: relative;
        .nav-link{
          color: #fff;
        }
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo__img {
  height: 70px;
  width: auto;
}

.logo__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  @media (max-width: 375px) {
    display: none;
  }
}

.title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: 'AudioWide', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  padding: 0 2rem;
  font-family: 'AudioWide', sans-serif;
}

/*----------Home----------*/

main {
  display: flex;
  flex-direction: column;
}

.wmash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  height: 100vh;
  @media (max-width: 375px){
    grid-template-columns: 1fr;
    height: auto;
    max-width: 375px;
    margin-top: 100px;
  }
  .wmash__img {
    width: 100%;
    height: auto;
    @media (max-width: 375px) {
      max-width: 375px;
    }
  }
  .wmash__title {
    font-family: 'Black Ops One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 375px) {
      max-width: 375px;
      font-size: 2rem;
    }
  }
  p {
    font-family: 'MyriamadPro Italic', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;

    @media (max-width: 375px) {
      padding: 0 20px;
    }
  }
}

/*----------Servicios----------*/
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #444343;
  @media (max-width: 375px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.basico {
  border: 5px solid #d7e60a;
  border-radius: 10px;
}

.avanzado {
  border: 5px solid #0a57e6;
  border-radius: 10px;
}

.premium {
  border: 5px solid #e6240a;
  border-radius: 10px;
}

.basico__title,
.avanzado__title,
.premium__title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5rem;
  color: #444343;
  text-align: center;
}

.basico__description,
.avanzado__description,
.premium__description {
  font-family: 'MyriamadPro Italic', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  align-self: center;
}
/*----------About----------*/

.about {
  width: 100%;
  @media (max-width: 375px) {
    grid-template-columns: 1fr;
    height: auto;
  }
  img {
    height: 85vh;
    opacity: 0.8;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
  }
  h3 {
    font-family: 'Black Ops One', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    @media (max-width: 375px) {
      max-width: 375px;
      font-size: 2rem;
    }
  }
  p {
    font-family: 'MyriamadPro Italic', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
    @media (max-width: 375px) {
      padding: 0 20px;
    }
  }
}

/*----------Contact----------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #3c3d3d;
  backface-visibility: visible;
  color: #fff;
  gap: 120px;
  @media (max-width: 375px) {
    display: flex;
    max-width: 375px;
    flex-direction: column;
    padding: 20px 30px;
    height: auto;
  }

  .footer__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    @media (max-width: 375px) {

    }
  }

  .footer__text,
  .footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 345px;
    text-align: center;
    @media (max-width: 375px) {
      max-width: 375px;
      font-size: 1.2rem;
    }
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    @media (max-width: 375px) {
      max-width: 375px;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 375px) {
    max-width: 375px;
  }
}

.form__button {
  background-color: #1cbfdb;
}
