@font-face {
  font-family: 'Black Ops One';
  src: url(./assets/fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

@font-face {
  font-family: 'AudioWide';
  src: url(./assets/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: 'Caprasimo';
  src: url(./assets/fonts/Caprasimo/Caprasimo-Regular.ttf);
}

@font-face {
  font-family: 'MyriamadPro Bold';
  src: url(./assets/fonts/Myriad_Pro/MYRIADPRO-BOLD.otf);
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #444343;
}

* {
  max-width: 100%;
}

/* ----------Navbar---------- */

/* Estilos para cuando la barra de navegación es visible */
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Estilos para cuando la barra de navegación está oculta */
.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Estilos generales para la barra de navegación */

.bg-body-tertiary {
  background-color: #444343 !important;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  /* Ajusta según sea necesario */

  @media (max-width: 768px) {
    padding: 0 10px;
    max-width: 100%;
  }

  .navbar-collapse {
    position: absolute;
    right: 0;
    padding: 0 30px;

    .nav-link {
      color: #fff;
    }

    @media (max-width: 768px) {
      position: relative;

      .nav-link {
        color: #fff;
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  height: 70px;
  width: auto;
}

.logo__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: 'AudioWide', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  padding: 0 2rem;
  font-family: 'AudioWide', sans-serif;
}

/* ----------Home---------- */

main {
  display: flex;
  flex-direction: column;
}

.service_img {
  position: relative;

  img {
    position: relative;
    width: auto;
    z-index: 1;
  }

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;

    img {
      margin: 20px;
      height: 1000px;
      width: auto;
    }
  }
}

.junior,
.basico,
.premium,
.avanzado {
  border: 5px solid rgb(7, 35, 129);
  background-color: rgba(253, 253, 253, 0.842);
  border-radius: 10px;

  img {
    position: absolute;
    top: -230px;
    height: 709px;
    left: -30px;
    width: auto;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.avanzado {

  img {
    position: absolute;
    top: -144px;
    height: 670px;
    left: -38px;
    width: auto;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.premium {

  img {
    position: absolute;
    top: -144px;
    height: 625px;
    left: 25px;
    width: auto;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.junior {

  img {
    position: absolute;
    top: -145px;
    height: 625px;
    left: 25px;
    width: auto;
    z-index: 1;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

/* ----------About---------- */

.about {
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;
  }

  img {
    height: 100vh;
    opacity: 0.8;
  }

  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .carousel-indicators {
    display: none;
  }

  .dp-1__title,
  .dp-2__title,
  .dp-3__title,
  .dp-4__title {
    font-family: 'Caprasimo', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    text-transform: none;
    width: 1000px;
    align-self: flex-end;
    padding: 0 10rem;

    @media (max-width: 768px) {
      align-self: center;
      max-width: 100%;
      text-align: center;
      font-size: 24px;
      margin: 0 20px;
      padding: 0 20px;
    }
  }

  .dp-1__phrase,
  .dp-2__phrase,
  .dp-3__phrase,
  .dp-4__phrase {
    font-family: 'AudioWide', sans-serif;
    font-size: 1.2rem;
    color: #e5e5e5;
    text-align: left;
    text-transform: none;
    width: 1000px;
    align-self: flex-end;
    padding: 0 10rem;

    @media (max-width: 768px) {
      align-self: center;
      max-width: 100%;
      text-align: center;
      font-size: 16px;
      margin: 0 20px;
      padding: 0 20px;
    }
  }
}

.icons {
  margin: 0 30px;

  @media (max-width: 768px) {
    margin: 0 20px;
  }

  img {
    height: 100px;
    width: auto;

    @media (max-width: 768px) {
      height: 50px;
    }
  }
}

.wmash {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0 3rem 0 0;
  margin-top: 20px;
  height: 100vh;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;
    max-width: 100%;
    margin-top: 100px;
    padding: 0;
  }

  .wmash__img {
    position: relative;
    height: 100%;
    margin: 0;

    img {
      position: relative;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
    }

    @media (max-width: 768px) {
      max-width: 100%;

      img {
        position: relative;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .wmash__title {
    font-family: 'MyriamadPro Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.5;
    width: 100%;

    @media (max-width: 768px) {
      padding: 20px;
      max-width: 100%;
      font-size: 24px;
    }
  }

  p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: justify;
    line-height: 1.8;
    padding: 0 35px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.wmash__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

/* ----------Servicios---------- */
.services {
  display: grid;
  position: relative;
  top: 120px;
  grid-template-columns: repeat(1, 1fr);
  gap: 120px;
  padding: 2rem;
  margin-bottom: 120px;

  @media (max-width: 768px) {
    top: 40px;
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto;
  }
}

.servicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.basico__title,
.avanzado__title,
.premium__title {
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5rem;
  color: #444343;
  text-align: left;
}

.basico__description,
.avanzado__description,
.premium__description {
  font-family: 'MyriamadPro Bold', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.price {
  font-family: 'Caprasimo', sans-serif;
  font-size: 3rem;
  color: #444343;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

/* ----------Contact---------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #3c3d3d;
  backface-visibility: visible;
  color: #fff;
  gap: 20px;

  @media (max-width: 768px) {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 20px 30px;
    height: auto;
  }

  .footer__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
  }

  .footer__text,
  .footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 345px;
    text-align: center;

    @media (max-width: 768px) {
      max-width: 100%;
      font-size: 1.2rem;
    }
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.form__button {
  background-color: #1cbfdb;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;

  @media (max-width: 768px) {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: auto;
  }
}

.technologies__title {
  font-family: 'MyriamadPro Bold', sans-serif;
  font-size: 36px;
  color: #444343;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 768px) {
    max-width: 100%;
    font-size: 1.5rem;
  }
}

.icon {
  margin: 80px;

  @media (max-width: 768px) {
    margin: 40px 0;
  }
}
